<<<<<<< HEAD
$primary-color: #4A4A4A; 		/* Dark gray color */
$secondary-color: #FFFFFF; 	/* White Color */
=======
$primary-color: #4A4A4A;     /* Dark gray color */
$secondary-color: #FFFFFF;   /* White Color */
>>>>>>> dea7715022dbd4cdabf2737d470f2c5bdfa8cb36

$primary-font: 'Ubuntu', sans-serif, serif; /* General Ubuntu font style */