<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>USCB Book Exchange</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Sticky Header Nav Bar -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Logo will be inserted here -->
          <a class="navbar-brand" href="#">USCB Book Exchange</a>
        </div>
        <!-- Left Header tabs -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#">About</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
          <!-- Right Header tabs - account -->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Register/Login <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#register-modal" data-toggle="modal" data-target="#register-modal">Register</a></li>
                <li><a href="#login-modal" data-toggle="modal" data-target="#login-modal">Login</a></li>
              </ul>
            </li>
            <li><a href="#">Sell</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
    <!-- About Section -->
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2>About </h2>
                    
                    <p>The USCB Textbook Exchange website is comprised of a server-side web service and a client-side web service which allow students to have a facilitated experience while attempting to donate, exchange, and/or sell their books with other students. </p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- About Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1>About</h1>
                        <p>The USCB Textbook Exchange website is comprised of a server-side web service that will consist of a database which will store user and book information in an organized manner and will handle all queries made by the users. Additionally, the web service will generate automated messages to expedite the transaction process.
	The client-side of the web service will allow the users to interact with the web service. 
	In order to be able to use the web service the user must have access to a web browser that is capable of supporting the web service.  Additionally, the user identity and student status will be verified through the use of their university email.
</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Register Modal -->
    <div class="modal fade" id="register-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-title">
                    <h2>Register</h2>
                </div>
                <div class="modal-body">
                    <p>Already have an account? <a href="#">click here</a></p>
                    <form role="form" action="">
                        <input type="email" name="email" placeholder="Enter USCB Email" class="input-xlarge"><br>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <p>If the email entered is a valid USCB email a confirmation link will be sent.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="login-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-title">
                    <h2>Account Sign-In</h2>
                </div>
                <div class="modal-body">
                    <p>Don't have an account? <a href="#">click here</a></p>
                    <form role="form" action="">
                        <input type="email" name="email" placeholder="Enter USCB Email"><br>
                        <input type="password" name="password" placeholder="Enter Password"><br>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <p>Forgot Password? <a href="#">click here</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>