<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/ajax.js"></script>
<script>
$(document).ready(function(){
	
		
    $("#SOMEBUTTON").click(function(){
    	
    	
    	
    	//the ajax is already implemented, just called the functions in ajax.js
    	//call the function as pass the proper paramenters.
    	//then you need to follow the function call with a .success and a .error
    	// since the default of javascript is asynchronous, if you leave the above out, the returns to the front end will not work
    	//HAPPY JAVASCRIPTING!
    	
    	logIn("someEmail", "somepassword").success(function (data) {
    		
    		window.alert(data);
    		
    		  			
		}).error(function(jqXHR, textStatus, errorThrown){
			
			window.alert(textStatus);
			
			
			
		});

    	
    	
   
  });
  
  });

</script>
</head>
<body>

<div id="div1"><h2>some element</h2></div>

<button id = 'SOMEBUTTON'>do some ajax!</button>

</body>
</html>
