<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#SOMEBUTTON").click(function(){
    	
    	var connectionString = 'http://localhost:8080/uscbtextbookexchange';
    	
    	//an example email
        var someEmail = 'glesias@email.sc.edu';
        
        
        //javascript ajax to send verification email
        // $.ajax({
//         
        // //the url of the request.  to have a discussion on how we want to store the url info,
  		// url: connectionString + '/verifyEmailP1.php',
//   		
  		// //the data you are passing the request
  		// data: {email : someEmail},
//   		
  		// //the default method is get
  		// method: 'GET',
//   		
  		// //if the call is a success
  		// success: function(data){
//   			
  			// $('#div1').text(data);
//   			
  		// },
//   		
  		// //if we had an error
  		// error: function( jqXHR, textStatus, errorThrown){
  			 // $('#div1').text(textStatus);
       // }
	// });
	
	//javascript ajax to send to editListing.php
	
	//some dummy variables
	// var someListingID = 3;
	// var newPrice = 555;
	// var newIsNegotiable = 1;
	// var newDescription = "THIS IS MY NEW DESCRIPTION VIA AJAX";
// 	
	// window.alert("trying some ajax");
// 	
	// $.ajax({
// 		
// 		        
        // //the url of the request.  to have a discussion on how we want to store the url info,
  		// url: connectionString + '/editListing.php',
//   		
  		// //the data you are passing the request
  		// data: {listingID : someListingID, price : newPrice, isNegotiable : newIsNegotiable, description : newDescription},
//   		
  		// //the default method is get
  		// method: 'POST',
//   		
  		// //if the call is a success
  		// success: function(data){
//   			
  			// $('#div1').text(data);
//   			
  		// },
//   		
  		// //if we had an error
  		// error: function( jqXHR, textStatus, errorThrown){
  			 // $('#div1').text(textStatus);
       // }
	// });
	
	
	var someListingID = 3;
		
	window.alert("trying some ajax");
	
	$.ajax({
		
		        
        //the url of the request.  to have a discussion on how we want to store the url info,
  		url: connectionString + '/deleteListing.php',
  		
  		//the data you are passing the request
  		data: {listingID : someListingID},
  		
  		//the default method is get
  		method: 'POST',
  		
  		//if the call is a success
  		success: function(data){
  			
  			$('#div1').text(data);
  			
  		},
  		
  		//if we had an error
  		error: function( jqXHR, textStatus, errorThrown){
  			 $('#div1').text(textStatus);
       }
	});
	
	
	
	
	
  });
});

</script>
</head>
<body>

<div id="div1"><h2>some element</h2></div>

<button id = 'SOMEBUTTON'>do some ajax!</button>

</body>
</html>
