<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>USCB Book Exchange</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!-- Sticky Header Nav Bar -->
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Logo will be inserted here -->
					<a class="navbar-brand" href="index.html">USCB Book Exchange</a>
				</div>
				<!-- Left Header tabs -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href = "index.html"> Home </a>
						</li>
						<li>
							<a href="about.html"> About</a>
						</li>
						<li>
							<a href="contact.html"> Contact</a>
						</li>
						<li class = "active">
							<a href="FAQ.html">FAQ<span class="sr-only">(current)</span></a>
						</li>
					</ul>
					<!-- Right Header tabs - account -->
					<ul class="nav navbar-nav navbar-right" id = "userOptions">           
           
         			 </ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<!-- FAQ title -->
		<section class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-offset-3 text-center">
					<h2>FAQ </h2>
				</div>
			</div>
		</section>

		<!-- first column -->
		<section class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<h2>Question 1 </h2>
					<bold>
						Instructions for question 1 go here
					</bold>
					<h2>Question 3 </h2>
					<bold>
						Instructions for question 3 go here
					</bold>
					<h2>Question 5 </h2>
					<bold>
						Instructions for question 5 go here
					</bold>

				</div>
				<!-- second column -->
				<div class="col-md-6">

					<h2>Question2</h2>
					<bold>
						Instructions for question 2 go here
					</bold>
					<h2>Question 4 </h2>
					<bold>
						Instructions for question 4 go here
					</bold>
				</div>
			</div>

			<!-- <div class="form-group"> ->
			<!--  <input type="name" class="form-control" placeholder="Enter First Name"> -->
			<!--  <input type="name" class="form-control" placeholder="Enter Last Name"> -->
			<!--  <input type="password" class="form-control" placeholder="Create Password"> -->
			<!-- </div> -->
			<!--  <button type="submit" class="btn btn-default">Register</button> -->
			<!--  </form> -->
			<!--   </div>   -->
			<!--  </div> ->
			<!--  </div> -->
		</section>

		 <!-- Register Modal -->
    <div class="modal fade" id="register-modal" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-title">
                    <h2>Register</h2>
                </div>
                <div class="modal-body">
                    <!-- <p>Already have an account? <a href="#login-modal" data-toggle="modal" data-target="#login-modal">click here</a></p> -->
                    <!-- <form role="form" action="" id = "registerForm"> -->
                        <input id = "emailRegister" type="email" name="email" placeholder="Enter USCB Email" class="input-xlarge"><br>
                        <button type="submit" id ='registerSubmit'>Register</button>                       
                    <!-- </form> -->
                </div>
                <div class="modal-footer">
                    <p id = "registerStatus"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="login-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-title">
                    <h2>Account Sign-In</h2>
                </div>
                <div class="modal-body">
                    <!-- <p>Don't have an account?<a href="#register-modal" data-toggle="modal" data-target="#register-modal">click here</a></p> -->
                    <!-- <form role="form" action=""> -->
                        <input id = "emailLogin" type="email" name="email" placeholder="Enter USCB Email"><br>
                        <input id = "passwordLogin" type="password" name="password" placeholder="Enter Password"><br>
                        <button type="submit" class="btn btn-default" id ='loginSubmit'>Log In</button>                      
                    <!-- </form> -->
                </div>
                <div class="modal-footer">
                    <p id = "loginStatus"></p>
                </div> 
            </div>
        </div>
    </div>
    
     <!-- Forgot Password Modal -->
    <div class="modal fade" id="password-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-title">
                    <h2>Forgot Password?</h2>
                </div>
                <div class="modal-body">
                    <!-- <p>Remember Password? <a href="#login-modal" data-toggle="modal" data-target="#register-modal">click here</a></p> -->
                    <!-- <form role="form" action=""> -->
                        <input id="emailFP" name="email" placeholder="Enter USCB Email"><br>
                        <input id="passwordFP" type="password" name="password" placeholder="Enter Password"><br>
                        <input id="passwordConfirmFP" type="password" name="passwordConfirm" placeholder="Re-Enter Password"><br>
                        <button type="button" id ='passwordSubmit'>Request Reset</button>
                      <!-- </form> -->
                </div>
                <div class="modal-footer">
                    <p id = "FPStatus"></p>
                </div>                
            </div>
        </div>
    </div>
    
    <!-- Logout Modal -->
    <div class="modal fade" id="logout-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-title">
                    <h2>Log Out</h2>
                </div>
                <div class="modal-body">
                    <!-- <p>Remember Password? <a href="#login-modal" data-toggle="modal" data-target="#register-modal">click here</a></p> -->
                    <!-- <form role="form" action=""> -->
                        <p id = "logOutStatus"> Please Log In. </p>
                    <!-- </form> -->
                </div>                             
            </div>
        </div>
    </div>
 

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/ajax.js"></script>
		<script src="js/eventHandlers.js"></script>
	</body>
</html>